@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: #5C3973;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.cabecalho nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 37px;
    
}
.cabecalho_logo{
    padding-left: 140px;
    padding-right: 500px;
}
.cabecalho_link{
    color: #FFFBBF;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

p {

    margin-left: 10px; 
    text-align: center;
    margin: 20px;
}

  h1 {

    margin-left: 10px; 
    text-align: center;
    margin: 20px;
}

  h2 {
 
    margin-left: 10px; 
    text-align: center;
    margin: 20px; 
}

  h3 {

    margin-left: 10px; 
    text-align: center;
    margin: 20px;
}

hr {

    text-align: center;
    margin: 20px; 
}


img {
    display: block;
    margin: 0 auto;
  }

.rodape{
    display: flex;
    background-color: #5C3973;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #FFF;
}

.rodape_link{
    padding: 0px 10px;
}

.rodape_texto{
    padding-right: 10px;
}