@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.cabecalho{
    background-color: #5C3973;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: -8px;

}

.cabecalho nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 37px;

}
.cabecalho_logo{
    padding-left: 140px;
    padding-right: 500px;
}
.cabecalho_link{
    color: #FFFBBF;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    
}

.img-pata{
    position: relative;
    bottom: 95px;
    left: 30px;
}

.meio{
    position: relative;
    left: 242px;
    bottom: 70px;
    transform: rotate(50.671deg);

}


.conteudo{
    margin: 100px;
}


.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #5C3973;
    background: #FFF2D6;
    border-radius: 30px;
    font-family: Inter;
    font-weight: 700;
    font-size: 30px;
    margin: 20px 176px 30px 176px;
}

.conteudo-principal-titulo{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    position: relative;
    top: 20px;

}

.conteudo-paragrafo{
    margin: 55px 162px 77px 162px;
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    color: #5C3973;
}

.titulo-eventos{
    color: #5C3973;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin: 25px 0px 20px 0px;
}

.caixa{
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 15px 50px 0px rgba(0, 0, 0, 0.10);
    margin: 0px 159px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    color: #5C3973;
    font-family: 'Montserrat';

}

.cards-eventos {
    margin: 50px;
}

.position-esquerda{
    position: relative;
}
.position-direita{
    position: relative;
    left: 68px;
}


.caixa-novembro {
    display: flex;
    align-items: stretch;
    gap: 69px;
    margin-bottom: -78px;
}


.rodape{
    display: flex;
    background-color: #5C3973;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #FFF;
    margin: -8px;
}
.rodape_link{
    padding: 0px 10px;
}
.rodape_texto{
    padding-right: 10px;
}
