@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}


.cabecalho{
    background-color: #5C3973;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cabecalho nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 37px;
    
}
.cabecalho_logo{
    padding-left: 140px;
    padding-right: 500px;
}
.cabecalho_link{
    color: #FFFBBF;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}
nav a:hover{
    border-bottom: 2px solid #FFFBBF;
    transition: 0.2s ease-in;
}


#colabore img{
    position: absolute;
    top: 150px;
    left: 40px;
}
.container1{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 80px;
}
.column1{
    flex: 1;
    margin: 10px;
    padding: 30px;
}
#colabore h1{
    width: 522px;
    height: 156px;
    color: #5C3973;
    font-feature-settings: 'dlig' on;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
#colabore a{
    position: relative;
    top: 45px;
    padding: 15px 30px;
    bottom: 80px;
    width: 51px;
    height: 27px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: rgba(92, 57, 115, 0.90);
    border-radius: 10px;
    margin-inline: 15px;
    text-decoration: none;
}
#colabore p{
    width: 378px;
    color: #5C3973;
    font-family: Montserrat;
    font-size: 17px;
    padding: 41px 56px 41px 56px;
    font-style: normal;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    border-radius: 30px;
    background: #FFF2D6;
}


.container2{
    display: flex;
    align-items: flex-start;
    margin: 10px;
    padding: 50px;
    justify-content: space-between;
}
.column2{
    flex: 1;
    padding: 20px;
    height: auto;
    text-align: center;
}
#preventivo{
    border-radius: 109px 34px;
    background: #FFF;
    width: 390px;
    height: 360px;
    box-shadow: 0px 13px 40px 0px rgba(0, 0, 0, 0.20);
    padding: 20px;
}
#preventivoC{
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 90px;
}
#preventivo h2{
    color: #5C3973;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding-top: 20px;
}
#preventivo p{
    color: rgba(92, 57, 115, 0.7);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 15px;
}
#preventivo h1{
    color: #5C3973;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

#alimento{
    border-radius: 180px;
    background: #FFF;
    width: 390px;
    height: 360px;
    box-shadow: 0px 13px 40px 0px rgba(119, 119, 119, 0.20);
    padding: 20px;
    text-align: center;
}
#alimentoC{
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 90px;
}
#alimento h2{
    color: #5C3973;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
    padding-top: 20px;
}
#alimento p{
    color: rgba(92, 57, 115, 0.7);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;

}
#alimento h1{
    color: #5C3973;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin: 10px 0px 30px 0px;
}

#outrovalorC{
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 90px;
}
#outrovalor{
    border-radius: 34px 109px;
    background: #FFF;
    width: 390px;
    height: 360px;
    box-shadow: 5px 13px 40px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
    text-align: center;
}
#outrovalor h2{
    color: #5C3973;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    padding-top: 20px;
}
#outrovalor p{
    color: rgba(92, 57, 115, 0.7);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;

}
#outrovalor input{
    width: 200px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 12px;
    border: none;
    background: rgba(92, 57, 115, 0.15);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 30px;
}
.container2 a{
    width: 176px;
    height: 42px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    border-radius: 10px;
    border-style: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    background-color: #5C3973;
    padding: 15px 30px;
    text-decoration: none;
}


.container3{
    padding: 50px;
    background-color: #FFF2D6;
    border-radius: 20px;
    margin: 95px;
}
.container-colunas{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.container3 h1{
    color: #5C3973;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 20px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}
.column3{
    width: 38%;
    padding: 40px;
}
#cadastro {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #FFF2D6;
}
#cadastro img{
    position: absolute;
    top: 1250px;
}
#cadastro h2{
    color: rgba(92, 57, 115, 0.90);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 95px;
    text-align: start;
}
#cadastro label{
    color: rgba(92, 57, 115, 0.60);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
#cadastro input{
    border-radius: 10px;
    border: none;
    background: rgba(92, 57, 115, 0.15);
    font-size: 15px;
    padding: 10px;
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 15px;
}
#metadeform{
    display: flex;
    gap: 10px;
}
#h2comoser {
    margin-left: 30px;
}
#cadastro p{
    width: 378px;
    height: 340px;
    color: rgba(92, 57, 115, 0.70);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
#cadastro button{
    width: 115px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #5C3973;
    color: #FFF;
    justify-items: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    border: none;
    margin-top: 20px;
}


.rodape{
    display: flex;
    background-color: #5C3973;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFF;
}
.rodape_link{
    padding: 0px 10px;
}
.rodape_texto{
    padding-right: 10px;
}